<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button (click)="addRecord()" pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" ></button>
                </ng-template>
            </p-toolbar>
            <app-datagrid
                caption="Permissions"
                [allowMultipleSelection]="false"
                [dataSource]="dataSource"
                [dataColumns]="columns"
                (onClickEdit)="updateRecord($event)"
                (onClickDelete)="deleteRecord($event)"
            ></app-datagrid>
        </div>
    </div>
</div>

